.subtotle {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 100px;
    padding: 20px;
    background-color: gray;
    border: 1px solid #dddddd;
    border-radius: 3px;
    position: sticky;
    top: 15%;
}

.subtotle_gift {
    display: flex;
    padding: 10px 0 10px 0;
}

.subtotle_main {
    display: flex;
    justify-self: start;
}